@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

.container {
  background-color: white;
  padding: 50px 0;
  color: #333;
  align-items: center;
  margin-top: 75vh ;
}

.categories-header h1 {
  font-size: 2.5em;
  font-weight: 700;
  color: #444;
  font-family: "Abel", sans-serif;
}

.categories-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 6%;
  padding-right: 8%;
}

.category-item {
  margin: 10px;
  text-align: center;
  flex: 1 1 300px;
  padding-left: 1.5%;
}

.category-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 300px;
  width: 100%;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.category-image {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.category-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: 600;
  font-family: "Abel", sans-serif;
}

.category-description {
  font-size: 1em;
  color: #666;
}


@media (max-width: 576px) {
  .container {
    margin-top: 35vh ;
  }

  .categories-header h1 {
    padding-bottom: 2vh;
  }
  
  .categories-content {
    padding-left: 15% !important;
    padding-right: 15% !important;
  }
  
  .category-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .category-image {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
  }
}

@media (max-width: 1024px) {
  .container {
    margin-top: 40vh ;
  }
  
  .categories-content {
    padding-left: 2%;
    padding-right: 2%;
  }
  
  .category-item {
    margin: 10px;
    text-align: center;
    flex: 1 1 200px;
    padding-left: 1%;
  }  
}