@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");


.subcategory-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin-top: 10vh;
}

.subcategory-list{
  display: flex;
  flex-wrap: wrap;
  gap: 8.6rem;
  padding: 20px;
  margin-top: 2vh;
  padding-bottom: 55vh;
  margin-left: -8vh;
  font-family: "Abel", sans-serif;
}

.category-name{
  font-size: 20px;
  margin-right: 24vw;
  margin-left: 30vw; 
  font-family: "Abel", sans-serif;
  font-size: xx-large;
  font-weight: 700;
}

.subcategory-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: calc(25% - 20px);
  min-width: 60vh;
  max-width: 70vh;
  text-align: center;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.subcategory-card:hover {
  transform: translateY(-5px);
}

.subcategory-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.buttons-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-top: 10px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  flex: 1;
  transition: background-color 0.3s ease;
}

.view-details {
  background-color: #2186f2;
  color: #fff;
}

.view-details:hover {
  background-color: #0056b3;
}

.watch-video {
  background-color: #97000f;
  color: #fff;
}

.watch-video:hover {
  background-color: #218838;
}

@media (max-width: 1200px) {
  .subcategory-container {
    margin-top: 10vh;
    justify-content: center;
    margin-left: -28vh;
  }
  .subcategory-card {
    width: calc(50% - 20px);
    margin-left: 30vw;
  }
}

@media (max-width: 768px) {
  .subcategory-container {
    margin-top: 10vh;
    justify-content: center;
  }
  .subcategory-card {
    width: 100%;
    margin-left: 36vh;
  }
  .category-name{
    font-size: 20px;
    margin-right: 19vw;
    margin-left: 55vw; 
    font-family: "Abel", sans-serif;
    font-size: xx-large;
    font-weight: 700;
  }
}

@media (max-width: 480px) {
  .subcategory-container {
    margin-top: 8vh;
  }
  .subcategory-card {
    padding: 10px;
    margin-left: 35vh;
    min-width: 30vh;

  }
  .button {
    padding: 8px;
    font-size: 12px;
  }
  .category-name{
    margin-right: 08vw;
    margin-left: 65vw; 
    font-family: "Abel", sans-serif;
    font-size: x-large;
    font-weight: 700;
  }
  .subcategory-list{
    margin-top: 0vh;
    gap:4rem
  }
}
